<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czkuo.rdf88701.infra.mapper.AlarmItemLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.czkuo.rdf88701.infra.entity.AlarmItemLog">
        <id column="id" property="id" />
        <result column="item_id" property="itemId" />
        <result column="global_code" property="globalCode" />
        <result column="title_zh" property="titleZh" />
        <result column="title_en" property="titleEn" />
        <result column="event_type" property="eventType" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, item_id, global_code, title_zh, title_en, event_type, created_at
    </sql>

</mapper>
