<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czkuo.rdf88701.infra.mapper.MqttMessageLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.czkuo.rdf88701.infra.entity.MqttMessageLog">
        <id column="id" property="id" />
        <result column="tid" property="tid" />
        <result column="cmd_id" property="cmdId" />
        <result column="message_type" property="messageType" />
        <result column="id_desc" property="idDesc" />
        <result column="topic" property="topic" />
        <result column="sender" property="sender" />
        <result column="receiver" property="receiver" />
        <result column="timestamp" property="timestamp" />
        <result column="result" property="result" />
        <result column="result_message" property="resultMessage" />
        <result column="payload" property="payload" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tid, cmd_id, message_type, id_desc, topic, sender, receiver, timestamp, result, result_message, payload, created_time, updated_time
    </sql>

    <insert id="batchInsert">
        INSERT INTO mqtt_message_log
        (tid, cmd_id, message_type, id_desc, topic, sender, receiver, timestamp,
         result, result_message, payload, created_time, updated_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.tid}, #{item.cmdId}, #{item.messageType}, #{item.idDesc}, #{item.topic},
             #{item.sender}, #{item.receiver}, #{item.timestamp}, #{item.result},
             #{item.resultMessage}, #{item.payload}, NOW(), NOW())
        </foreach>
    </insert>

</mapper>
