<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czkuo.rdf88701.infra.mapper.OcrAlarmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.czkuo.rdf88701.infra.entity.OcrAlarm">
        <id column="id" property="id" />
        <result column="ocr_device_id" property="ocrDeviceId" />
        <result column="alarm_code" property="alarmCode" />
        <result column="message" property="message" />
        <result column="status" property="status" />
        <result column="occurred_time" property="occurredTime" />
        <result column="cleared_time" property="clearedTime" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ocr_device_id, alarm_code, message, status, occurred_time, cleared_time, created_at, updated_at
    </sql>

</mapper>
