<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czkuo.rdf88701.infra.mapper.RobotR031TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.czkuo.rdf88701.infra.entity.RobotR031Task">
        <id column="id" property="id" />
        <result column="log_id" property="logId" />
        <result column="inbox_id" property="inboxId" />
        <result column="tid" property="tid" />
        <result column="lot_id" property="lotId" />
        <result column="carrier_id" property="carrierId" />
        <result column="wip_name" property="wipName" />
        <result column="source_zone" property="sourceZone" />
        <result column="manual_port" property="manualPort" />
        <result column="raw_message_json" property="rawMessageJson" />
        <result column="internal_state" property="internalState" />
        <result column="external_last_result" property="externalLastResult" />
        <result column="external_last_time" property="externalLastTime" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, log_id, inbox_id, tid, lot_id, carrier_id, wip_name, source_zone, manual_port, raw_message_json, internal_state, external_last_result, external_last_time, created_time, updated_time
    </sql>

</mapper>
