<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czkuo.rdf88701.infra.mapper.RobotInR008Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.czkuo.rdf88701.infra.entity.RobotInR008">
        <id column="log_id" property="logId" />
        <result column="lot_id" property="lotId" />
        <result column="carrier_id" property="carrierId" />
        <result column="wip_name" property="wipName" />
        <result column="dest_loc" property="destLoc" />
        <result column="eqp_port" property="eqpPort" />
        <result column="device_name" property="deviceName" />
        <result column="stk_port" property="stkPort" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, lot_id, carrier_id, wip_name, dest_loc, eqp_port, device_name, stk_port, created_time, updated_time
    </sql>
    <select id="selectBinTypeByCarrierId" resultType="java.lang.String">
        SELECT bin_type
        FROM robot_r008_task
        WHERE carrier_id = #{carrierId}
        ORDER BY created_time DESC, id DESC Limit 1
    </select>
</mapper>
